body {
    background: #000;
}

#info {
    color: #555;
}

#terminal {
    height: 1000px;
}

#terminal-wrapper {
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 1000px;
}

#cp {
	position:absolute;
	z-index: 10;
	top:100px;
	left:20%;
	right:20%;
	font-size:2em;
	background: #000;
	color: #555;
	width: 100%;
    height: 100px;
    display:none;
}


// Overrides
.terminal div{
    margin-bottom: 10px;
}

.terminal-output, .cmd{
    font-size: 1.5em !important;
}
